.Order-description {
    margin-bottom: 10px;
}
.OrderDescription-container {
    display: grid;
    grid-template-columns: minmax(110px, 250px) minmax(180px, 78%);
}

.OrderDescription-container p {
    margin-bottom: 5px;
}